In [44]:
import numpy as np
from difflib import SequenceMatcher

In [69]:
df = np.load('Data.npz')

In [68]:
np.savez("Data.npz",Question = [], Link = [])

In [65]:
text = "A book exhibition was held for four days in a school. The number of tickets sold at the counter on the first, second, third, and final day was respectively 1094, 1812, 2050, and 2751. Find the total number of tickets sold on all the four days."
maximum = 0
position = -1
for i in range(len(df['Question'])):
    que = str(df['Question'][i])
    print()
    if maximum <= (SequenceMatcher(None,que,text).ratio()):
        maximu
        position = i

In [71]:
for i in (df['Question']):
    print(i)
    print("------------------------------------------------[]")

Fill in the blanks:  (a). 1 lakh = _________ ten thousand.  (b). 1 million = _________ hundred thousand.  (c). 1 crore = _________ ten lakh.  (d). 1 crore = _________ million.  (e). 1 million = _________ lakh.
------------------------------------------------[]
Place commas correctly and write the numerals:  (a). Seventy three lakh seventy five thousand three hundred seven.  (b). Nine crore five lakh forty one.  (c). Seven crore fifty two lakh twenty one thousand three hundred two.  d). Fifty eight million four hundred twenty three thousand two hundred two.  (e). Twenty three lakh thirty thousand ten.
------------------------------------------------[]
Insert commas suitably and write the names according to Indian System of Numeration:  (a). 87595762 (b). 8546283  (c). 99900046 (d). 98432701
------------------------------------------------[]

In [59]:
match.index(max(match))

4

In [60]:
d['Link'][4]

'static\\Class 6\\maths\\1. Knowing our numbers\\5.png'